#navbar{
    width: 100%;
    overflow: hidden;  /*code added to prevent scroll*/
}


#static_right{
    width: 300px;
    height: 500px;
    background-repeat: repeat-y;
    overflow: auto;
    position: sticky;
    top: 90px;
    right: 200px;
    font-size: 16px;
    float: right;
}

#content{
   height: auto;
   padding: 20px;
   margin-left: 230px;
   margin-right: 500px;
   padding-bottom: 30px;
   overflow: auto;  /*code added*/
   margin-top: 70px;
}

#wishlist-items {
    height: 200px;
    overflow: scroll;

}

#previous-next {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.btn-primary {
    color: black!important;
    background-color: #e3f2fd;
    border-color:rgba(0,0,0,.125)!important;
}

.mt-4, .my-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 0!important;

}