<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "main_app/style.css" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    {% block links %}
    {% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="navbar"></div>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
          <a class="nav-link" href="/">
            <img src="{% static "barter.png" %}" alt="", width="128" height="32">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="form-inline my-2" method="POST" action="../">
            {% csrf_token %}
            <input class="form-control mr-xl-2" id="search" name="search_query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static "man.png" %}" width="35" height="35" alt="">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if logged_in %}
                    <a class="dropdown-item" href="{% url 'user_page' id=user.id%}">Hello, {{ user.get_short_name }}</a>
                    <a class="dropdown-item" href="{% url 'createlisting' %}">Sell an Item</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'login_user' %}">Log In</a>
                  {% endif %}
                  {# <div class="dropdown-divider"></div> #}
                  {# <a class="dropdown-item" href="#">Something else here</a> #}
                </div>
              </li>
            </ul>
        </div>
      </nav>
    </div>


    <div id="static_right">
    {% if logged_in %}
      <div class="card mt-4" style="width: 100%; background-color:#e3f2fd;">
        <img src="" class="card-img-top" alt="">
        <div class="card-header">
          <h5 class="card-title">Wishlist</h5>
        </div>
        <div id="wishlist-items">
          {% if wishlist|length > 0 %}
            <ul class="list-group list-group-flush">
              {% for item in wishlist %}
                <li class="list-group-item">
                  <a href="{% url 'productpage' pid=item.item.pid %}" class="card-link">{{item.item.title}}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Your cart is empty!</li>
            </ul>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="card mt-4" style="width: 100%; background-color:#e3f2fd;">
        <div class="card-header">
          <h5 class="card-title"><a href="{% url 'login_user' %}">Log-In</a> to see your Wishlist</h5>
        </div>
      </div>
    {% endif %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>


    <script type="text/javascript">
      searchField = document.getElementById("search");
      if (sessionStorage.searchValue)
        searchField.value = sessionStorage.searchValue;
      searchField.oninput = function() {
        sessionStorage.searchValue = this.value;
      }
    </script>

    <!-- Scripts for Bootstrap 4-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
