{% extends "base.html" %}
{% load static %}

{% block title %}
	Barter
{% endblock %}

{% block content %}
	{% if posts %}
	<form method="POST">
		<div id="previous-next">
			{% csrf_token %}
			<button class="btn btn-primary" type="submit" value="selected" name="previous">&laquo Previous</button>
			<button class="btn btn-primary" type="submit" value="selected" name="next">Next &raquo</button>
		</div>
	</form>
		{% for p in posts %}
			<div class="card mt-4" style="width: 100%;">
				<div class="card-header">
					<div class="user_images">
						<img src="{% static "man.png" %}" width="35" height="35" alt="">
					</div>
					<h5 class="card-title">{{ p.title }}
						{% if p in user_items %}
						<div id="edit-buttons">
							<a href="{% url 'update_listing' pid=p.pid %}">Edit</a>
							<a href="{% url 'delete_listing' pid=p.pid %}" 
							onclick="return confirm('Are you sure you want to delete this listing? This cannot be undone.')">&#x274C</a>
						</div>
						{% endif %}
					</h5>
				</div>
				<div class="card-body item-image">
					<img src="{{ p.image_link }}" alt="Default Logo" onerror="this.onerror=null;this.src='{% static 'logo.png' %}';this.height = 100;this.width = 100;">
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Price: ${{ p.price }}</li>
					<li class="list-group-item">Date: {{ p.date_posted }}</li>
				</ul>
				<div class="card-body">
					<form id="add_{{ p.pid }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="add_to_wishlist">
						<input type="hidden" value="{{ p.pid }}" name="pid">
					</form>
					<form id="remove_{{ p.pid }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="remove_from_wishlist">
						<input type="hidden" value="{{ p.pid }}" name="pid">
					</form>
					<a href="{% url 'productpage' pid=p.pid %}"+p.pid class="card-link">Product Details</a>
					{% if logged_in and p not in user_items %}
						{% if p.pid not in wishlist_pids %}
							<a href="#" class="card-link" onclick="document.getElementById('add_{{ p.pid }}').submit()">Add Item to Wishlist</a>
						{% else %}
							<a href="#" class="card-link" onclick="document.getElementById('remove_{{ p.pid }}').submit()">Remove from Wishlist</a>
						{% endif %}
						<a href="{% url 'user_page' id=p.user.id %}" class="card-link">Contact User</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2>No Posts Found!!!</h2>
	{% endif %}

{% endblock %}
 