{% extends "base.html" %}

{% block title %}
	Barter
{% endblock %}

{% block content %}
	{% if posts %}
	<form method="POST">
		<div id="previous-next">
			{% csrf_token %}
			<button class="btn btn-primary" type="submit" value="selected" name="previous">&laquo Previous</button>
			<button class="btn btn-primary" type="submit" value="selected" name="next">Next &raquo</button>
		</div>
	</form>
		{% for p in posts %}
			<div class="card mt-4" style="width: 100%;">
				<img src="" class="card-img-top" alt="">
				<div class="card-header">
					<h5 class="card-title">{{ p.title }}
						{% if p in user_items %}
						<div id="edit-buttons">
							<a href="{% url 'update_listing' pid=p.pid %}">Edit</a>
							<a href="{% url 'delete_listing' pid=p.pid %}" 
							onclick="return confirm('Are you sure you want to delete this listing? This cannot be undone.')">&#x274C</a>
						</div>
						{% endif %}
					</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{ p.description }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Price: ${{ p.price }}</li>
					<li class="list-group-item">Date: {{ p.date_posted }}</li>
				</ul>
				<div class="card-body">
					<form id="add_{{ p.pid }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="add_to_wishlist">
						<input type="hidden" value="{{ p.pid }}" name="pid">
					</form>
					<form id="remove_{{ p.pid }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="remove_from_wishlist">
						<input type="hidden" value="{{ p.pid }}" name="pid">
					</form>
					<a href="{% url 'productpage' pid=p.pid %}"+p.pid class="card-link">Product Details</a>
					{% if logged_in and p not in user_items %}
						{% if p.title not in wishlist_names %}
							<a href="#" class="card-link" onclick="document.getElementById('add_{{ p.pid }}').submit()">Add Item to Wishlist</a>
						{% else %}
							<a href="#" class="card-link" onclick="document.getElementById('remove_{{ p.pid }}').submit()">Remove from Wishlist</a>
						{% endif %}
						<a href="#" class="card-link">Contact User</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2>No Posts Found!!!</h2>
	{% endif %}
{% endblock %}


{% block static_right %}
	{% if logged_in %}
		<div class="card mt-4" style="width: 100%; background-color:#e3f2fd;">
			<img src="" class="card-img-top" alt="">
			<div class="card-header">
				<h5 class="card-title">Wishlist</h5>
			</div>
			<div id="wishlist-items">
				{% if wishlist|length > 0 %}
					<ul class="list-group list-group-flush">
						{% for item in wishlist %}
							<li class="list-group-item">
								<a href="{% url 'productpage' pid=item.item.pid %}" class="card-link">{{item.item.title}}</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Your cart is empty!</li>
					</ul>
				{% endif %}
			</div>
		</div>
	{% else %}
		<div class="card mt-4" style="width: 100%; background-color:#e3f2fd;">
			<div class="card-header">
				<h5 class="card-title"><a href="{% url 'login_user' %}">Log-In</a> to see your Wishlist</h5>
			</div>
		</div>
	{% endif %}
{% endblock %}