{% extends "base.html" %}

{% block title %}
	Barter
{% endblock %}

{% block content %}
	{% if posts %}
		{% for p in posts %}
			<div class="card mt-4" style="width: 50rem;">
				<img src="" class="card-img-top" alt="">
				<div class="card-header">
					<h5 class="card-title">{{ p.title }}</h5>
				</div>
				<div class="card-body">
					<p class="card-text">{{ p.description }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Price: ${{ p.price }}</li>
					<li class="list-group-item">Date: {{ p.date_posted }}</li>
				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2>No Posts Found!!!</h2>
	{% endif %}
{% endblock %}