{% extends "base.html" %}

{% block title %}
	Barter
{% endblock %}

{%block content%}

	<div class="container theme-showcase margin-top-navbar" role="main" style="margin-top: 50px">
		<div class ="row">
			<div class="col-mid-12">
				<table class="table table-striped">

				{% if thisitem is not None %}

				{% if thisitem in user_items %}
				<div id="edit-buttons">
					<a href="{% url 'update_listing' pid=thisitem.pid %}">Edit</a>
					<a href="{% url 'delete_listing' pid=thisitem.pid %}" 
					onclick="return confirm('Are you sure you want to delete this listing? This cannot be undone.')">&#x274C</a>
				</div>
				{% endif %}		
			
					<tr>
						<td>Title:</td> <td>{{thisitem.title}}</td>
					</tr>

				<tr>
					<td>Category:</td> <td>{{thisitem.category}}</td>
				</tr>

				<tr>
					<td>Image:</td> <td><img src="{{ thisitem.image_link }}" alt="No Image" onerror="placeHolder(this)"></td>
				</tr>

				<tr>
					<td>Price:</td> <td>{{thisitem.price}}</td>
				</tr>

				<tr>
					<td>Description:</td> <td>{{thisitem.description}}</td>
				</tr>

				{% else %}
					<tr><td>No data found.</td></tr>

				{% endif %}
				</table>
				<form id="add_{{ thisitem.pid }}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="add_to_wishlist">
					<input type="hidden" value="{{ thisitem.pid }}" name="pid">
				</form>
				<form id="remove_{{ thisitem.pid }}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="remove_from_wishlist">
					<input type="hidden" value="{{ thisitem.pid }}" name="pid">
				</form>
				{% if logged_in and thisitem not in user_items %}
					{% if thisitem.pid not in wishlist_pids %}
						<a href="#" class="card-link" onclick="document.getElementById('add_{{ thisitem.pid }}').submit()">Add Item to Wishlist</a>
					{% else %}
						<a href="#" class="card-link" onclick="document.getElementById('remove_{{ thisitem.pid }}').submit()">Remove from Wishlist</a>
					{% endif %}
					<a href="{% url 'user_page' id=thisitem.user.id %}" class="card-link">Contact User</a>
				{% endif %}
			</div>
		</div>
	</div>


{% endblock %}