{% extends "base.html" %}

{% block content %}
    {% if specified_user %}
        <div class="card mt-4" style="width: 100%; background-color:#e3f2fd;">
            <div class="card-header">
                <h1>{{ specified_user.first_name }} {{ specified_user.last_name }}</h1>
            </div>
            <div class="card-body">
                <h2>{{ specified_user.email }}</h2>
            </div>
        </div>
        <div class="card mt-4" style="width: 100%; background-color:#e3f2fd;">
            <div class="card-header">
                <h2>All Items That This User Is Selling:</h2>
            </div>
        </div>
        {% for p in specified_user_items %}
			<div class="card mt-4" style="width: 100%;">
				<img src="" class="card-img-top" alt="">
				<div class="card-header">
					<h5 class="card-title">{{ p.title }}
						{% if p in user_items %}
						<div id="edit-buttons">
							<a href="{% url 'update_listing' pid=p.pid %}">Edit</a>
							<a href="{% url 'delete_listing' pid=p.pid %}" 
							onclick="return confirm('Are you sure you want to delete this listing? This cannot be undone.')">&#x274C</a>
						</div>
						{% endif %}
					</h5>
				</div>
				<div class="card-body item-image">
					<img src="{{ p.image_link }}" alt="No image">
				</div>
				<div class="card-body">
					<p class="card-text">{{ p.description }}</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Price: ${{ p.price }}</li>
					<li class="list-group-item">Date: {{ p.date_posted }}</li>
				</ul>
				<div class="card-body">
					<form id="add_{{ p.pid }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="add_to_wishlist">
						<input type="hidden" value="{{ p.pid }}" name="pid">
					</form>
					<form id="remove_{{ p.pid }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="remove_from_wishlist">
						<input type="hidden" value="{{ p.pid }}" name="pid">
					</form>
					<a href="{% url 'productpage' pid=p.pid %}"+p.pid class="card-link">Product Details</a>
					{% if logged_in and p not in user_items %}
						{% if p.pid not in wishlist_pids %}
							<a href="#" class="card-link" onclick="document.getElementById('add_{{ p.pid }}').submit()">Add Item to Wishlist</a>
						{% else %}
							<a href="#" class="card-link" onclick="document.getElementById('remove_{{ p.pid }}').submit()">Remove from Wishlist</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
    {% else %}
        <h1>User not found</h1>
    {% endif %}
{% endblock %}
